﻿@{
    ViewData["Title"] = "Login";
}

<div class="wrapper-page">
    <div class="card card-pages">
        <div class="card-header bg-img">
            <div class="bg-overlay"></div>
            <h3 class="text-center m-t-10 text-white"> Sign In to <strong>Satsport News</strong> </h3>
        </div>
        <div class="card-body">
            <form class="form-horizontal m-t-20">
                <div class="form-group">
                    <div class="col-12">
                        <input class="form-control input-lg" id="userName" type="text" required placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <input class="form-control input-lg" id="password" type="password" required placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup">
                                Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div class="col-12">
                        <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" id="btnLogin">Log In</button>
                    </div>
                </div>
                <div class="form-group row m-t-30">
                    <div class="col-sm-7">
                        <a href="pages-recoverpw.html"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#btnLogin").click(function () {
                var userName = $("#userName").val();
                var password = $("#password").val();
                if (!userName || userName.trim() == '' || !password || password.trim() == '') {
                    return;
                }

                var data = {
                    UserName: userName,
                    Password: password
                }

                $.ajax({
                    type: "POST",
                    url: "/Login",
                    data: data,
                    success: function (response) {
                        alert("Hello: " + response.d);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
}